.board-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}
.board__lists {
  flex-wrap: nowrap;
  flex: 0 1 auto !important;
  padding: 0 5px;
}
.board__list {
  padding: 0 5px;
  background: transparent;
  max-width: 272px;
  min-width: 272px;
}

.list__content {
  align-items: center;
  /* max-height: 100%; */
  background: #ebecf0;
  padding: 10px;
}
.list__header {
  padding: 10px;
  justify-content: start;
  cursor: pointer;
}
.list__heading.editable-heading {
  padding: 5px;
}
.list__heading.editable-heading:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #0079bf;
  border-radius: 5px;
  cursor: text;
}
.list__heading.editable-heading > * {
  margin: 0;
}
.list__add-card {
  margin-top: 10px;
}
.list__cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
}
.card:hover {
  background: #f4f5f7;
}
.card__info {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}
.card-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.card-details > * {
  padding-bottom: 30px;
}
.card-details__header-title {
  resize: none;
  border: none;
  height: 32px;
  color: #172b4d;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
}
.card-details__list-title {
  text-decoration: underline;
}
.card-details__description-title {
  resize: none;
  border: none;
  height: 32px;
  color: #172b4d;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
}
.card-details__activity-title {
  resize: none;
  border: none;
  height: 32px;
  color: #172b4d;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
}
.card-details__activity-list {
  /* overflow: scroll; */
  /* max-height: 200px; */
}
.card-details__comment-textarea {
  height: 32px;
  margin-top: 20px;
}
.card-details__popup-close-btn {
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}
