.container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: 100px 1fr;
  column-gap: 20px;
}
.header {
  grid-column: 1/3;
  grid-row: 1;
}
.main {
  grid-column: 1;
  grid-row: 2;
}
.main > * {
  margin-bottom: 30px;
}
.sidebar {
  grid-column: 2;
  grid-row: 2;
}
.cardTitle {
  resize: none;
  border: none;
  height: 32px;
  color: #172b4d !important;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  background: transparent;
}
.listTitle {
  text-decoration: underline;
}
.descriptionTitle {
  resize: none;
  border: none;
  height: 32px;
  color: #172b4d;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
}
.activityTitle {
  resize: none;
  border: none;
  height: 32px;
  color: #172b4d;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
}
.activityList {
  margin-top: 30px;
  list-style: none;
}
.comment {
  margin-bottom: 15px;
}
.comment:last-child {
  margin-bottom: 0;
}
.commentTextarea {
  height: 32px;
  margin-top: 20px;
  transition: 0.2s ease;
}
.commentTextarea[data-isEditing='true'] {
  height: 102px;
}
.commentAuthor {
  font-weight: bold;
}
.commentContent {
  resize: none;
  background: #f4f4f4;
}
.commentActions > button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.commentActions > button:hover {
  text-decoration: underline;
}
.popupCloseBtn {
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}
.cardActions {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cardActionsItem {
  background: rgba(9, 30, 66, 0.04);
}
.cardActionsItem:hover {
  background: rgba(9, 30, 66, 0.08);
}
.cardActionsItem:first-child {
  margin-top: 10px;
}
