.add__toggle {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 14px;
}
.add__toggle:hover {
  color: inherit;
  background: rgba(9, 30, 66, 0.08);
}
.add__form {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 8px;
}
.add__buttons-wrapper {
  margin-top: 7px;
}
.add__submit-btn {
  border: none;
  outline: none;
  margin: 0;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  background: #5aac44;
}
.add__submit-btn:active {
  outline: none;
  border: none;
  background: #49852e;
}
.add__submit-btn:hover {
  background: #61bd4f;
}
.add__discard-btn {
  border: none;
  outline: none;
  margin: 0;
  padding: 6px 12px;
  cursor: pointer;
  background: transparent;
  color: #6b778c;
}
.add__discard-btn:hover {
  color: #172b4d;
}
.add__textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  padding: 6px 8px;
  cursor: text;
  background: #fff;
  overflow: hidden;
}
.add__textarea:hover {
  background: #fff;
}
.add__submit-btn:focus,
.add__discard-btn:focus,
.add__textarea:focus {
  outline: none;
}
