.mainNav {
  background: #026aa7;
  max-height: 40px;
  padding: 6px;
  display: flex;
  font-size: 14px;
  justify-content: flex-end;
}
.authButtons {
  margin-right: 40px;
}
.button {
  color: #fff;
  background: hsla(0, 0%, 100%, 0.3);
  border: none;
  outline: none;
  border-radius: 6px;
}
.button:hover {
  background: hsla(0, 0%, 100%, 0.2);
}
.signUpBtn {
  margin-right: 10px;
}
