body {
  margin: 0;
  background: #fafbfc;
  color: #5e6c84;
  cursor: auto;
}
body[data-loading='pending'] {
  cursor: progress;
}

h1,
h2,
h3 {
  color: #172b4d;
}

.app-container {
  min-height: 100vh;
  background: transparent;
}

.card {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  background: #fff;
}
.card:hover {
  background: #f4f5f7;
}
